.inputText{
    width: 40%;
}
/*кнопка отправить*/
.btn {
    border-radius: 10px;
    cursor: pointer;
    animation-play-state: running;
}

.btn:hover {
    opacity: 0.9;
    background: gainsboro;

}
/*Кнопка адрес офиса*/
.buttonOffice{
    margin-top: 5px;
    float: right;
    border-radius: 10px;
    cursor: pointer;
    animation-play-state: running;
}
.buttonOffice:hover {
    opacity: 0.9;
    background: gainsboro;
}

/*Кнопка скопировать адреса*/
.button {
    margin-left: 4px;
    height:50px;
    width:100px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
    background: gainsboro;
}

/*Кнопка скопировать номера заявок*/
.button1 {
    margin-left: 4px;
    height:50px;
    width:205px;
    border-radius: 10px;
    cursor: pointer;
}

.button1:hover {
    opacity: 0.9;
    background: gainsboro;
}

/*Кнопка сохранить изменения*/
.button2 {
    height:50px;
    width:100px;
    /*padding: 10px 60px;*/
    border-radius: 10px;
    cursor: pointer;
}

.button2:hover {
    opacity: 0.9;
    background: gainsboro;
}

/*Кнопка скопировать километраж*/
.button3 {
    margin-left: 4px;
    height:100px;
    width:208px;
    /*padding: 10px 60px;*/
    border-radius: 10px;
    cursor: pointer;
}

.button3:hover {
    opacity: 0.9;
    background: gainsboro;
}


/*анимация машыны*/
@-webkit-keyframes move {
    0% {
        left: 0;
    }
    50% {
        left: 36%;
        /*transform: scale(0.7);*/
    }
    100% {
        left: 0;
    }
}

a#rotator {
    position: relative;
    top: 10px;
    left: 0;
}

button:hover + a#rotator {
    -webkit-animation: move 5s;
}
@media screen and (max-width : 1340px) {
}
@media screen and (max-width : 800px) {
    .vulc__nav {
        font-size:0.5em;
}
    .inputText{
        width: 53%;
    }
    a#rotator{
        display: none;
    }
    .buttonOffice{
        margin-top: 0;
    }
}
@media screen and (max-width : 550px) {
    .vulc__nav {
        font-size:0.5em;
    }
    .inputText{
        width: 100%;
    }
    img{
        display: none;
    }
    .buttonOffice{
        float: none;
        margin-right: 0;
        margin-top: 0;
    }
}
.select{
    user-select: all;
}